
 @font-face {
	font-family: 'edition';
	src: url('Edition-BxnV.ttf'); /* IE9 Compat Modes */
} 
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&&display=swap');

  a {
    cursor: pointer;
}
.loading {
	// background-color:#e20025;
	height: 100vh;
	width: 100vw;
	padding: 0;
	margin:0;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 200;
	transition: 1s ease-in-out;
  }

  .loadingDone1 {
	opacity: 0;
}

  .loadingDone2 {
	display: none;
  }
  .loading img{
	color: white;
	width: 20vw;
	height: 20vw;
  }

  .websiteContainer {
	width:100vw;
	height:100vh;
	overflow:hidden; 
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
	// opacity: 0;
	// transition: 1.5s ease-in-out;
	// transition-delay: 1s;
	// transform: scale(0.3);
}

.websiteContainerActive {
	// opacity: 1;
	// transform: scale(1);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@200;300;400;500;600;700;800&display=swap');


.ball1 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:15.6vw;height:15.6vw;border-radius:15.6vw;overflow: hidden;
        
}
.ball2 {
    width:10.4vw;height:10.4vw;border-radius:15.6vw;background-position:center;
        background-size: cover;background-image: url('ball.png');overflow: hidden;
        

}

.ball3 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:26vw;height:26vw;border-radius:26vw;
        
}

.ball4 {
    background-position:center;
    background-size: cover;background-image: url('ball.png');width:14vw;height:14vw;border-radius:15.6vw;overflow: hidden;
    
}

.ball5 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:5.2vw;height:5.2vw;border-radius:15.6vw;overflow: hidden;
        
}
.ball6 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:5.2vw;height:5.2vw;border-radius:15.6vw;overflow: hidden;
        
}

.container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
	z-index: 3;
    
}

.container2{
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
    z-index: 2;
}

.container3{
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
    z-index: 4;
}

.breh {
	text-align: left !important;
}

.container h1 {
	color: mix(#fff, #fff, 85%);
	line-height: 0;
	font-size: calc(1em + 11vw) ;  
    font-weight: 800;
    justify-self: center;
    align-self: center;
	font-family: 'edition', sans-serif;
	letter-spacing: -0.02em;
	text-shadow: 
	0.035em 0.035em 0 mix(#3f3f3f, #e20025, 32%),
	0.03em 0.03em 0 mix(#3f3f3f, #e20025, 30%),
	0.025em 0.025em 0 mix(#3f3f3f, #e20025, 28%),
	0.02em 0.02em 0 mix(#3f3f3f, #e20025, 26%), 
	0.015em 0.015em mix(#3f3f3f, #e20025, 24%), 
	0.01em 0.01em 0 mix(#3f3f3f, #e20025, 22%), 
	0.005em 0.005em 0 mix(#3f3f3f, #e20025, 20%),
	-0.0075em 0.0075em 0 mix(#3f3f3f, #e20025, 54%);


}

.container h2 {
	color: mix(#fff, #fff, 85%);
	line-height: 2vw;
	margin-left: 0.5vw;
	font-size: calc(1em + 5vw) ;  
    font-weight: 800;
    justify-self: center;
    align-self: center;
	font-family: 'edition', sans-serif;
	text-shadow: 
	0.09em 0.09em 0 mix(#3f3f3f, #e20025, 32%),
	0.08em 0.08em 0 mix(#3f3f3f, #e20025, 30%),
	0.07em 0.07em 0 mix(#3f3f3f, #e20025, 28%),
	0.06em 0.06em 0 mix(#3f3f3f, #e20025, 26%), 
	0.05em 0.05em mix(#3f3f3f, #e20025, 24%), 
	0.04em 0.04em 0 mix(#3f3f3f, #e20025, 22%), 
	0.03em 0.03em 0 mix(#3f3f3f, #e20025, 20%),
	-0.0175em 0.0175em 0 mix(#3f3f3f, #e20025, 54%);


}

.socials {
	position: absolute;
	bottom: 3.5vw;
	left: 1vw;
	z-index: 20;
}

.socials ul {
	list-style: none;
	list-style-type: none;
}


.social {
	height: 3vw;
	width: 3vw;
}

.socials ul li {
	cursor: pointer;
	margin-bottom: 1.3vw;
}

.links {
	position: absolute;
	right:1vw;
	top:3vw;
	right:3vw;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	z-index: 20;
}

.links a {
	font-family: 'edition', sans-serif;
	font-weight: 700;
	color:white;
	margin:0 2vw;
	text-decoration: none;
	font-size: 1.7vw;
	display: block;
	text-align: left !important;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.425);
}

.mobileMenu {
	position:absolute;
	top:8vw;
	right:8vw;
	z-index:30;
	display: none;
}

.menu {
	position: absolute;
	z-index: 25;
	width: 0vw;
	height: 100vh;
	background-color: #313131;
	top:0;
	right: 0;
	display: none;
	transition:0.6s ease-in-out;
}

.menuActive {
	width: 50vw;
}

.menu ul {
	list-style: none;
	list-style-type: none;
	margin-top: 15vw;
	margin-left: 5vw;
}
.menu ul li {
	cursor: pointer;
	margin-bottom: 1.3vw;
}

.menu ul li a{
	font-family: 'edition', sans-serif;
	font-weight: 700;
	color:white;
	text-decoration: none;
	font-size: 5vw;
	padding-top: 5vw;
	display: block;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.425);
	text-align:left;
}

.appContainer{
	width:100vw;
	height:100vh;
	overflow:hidden; 
	position:relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.ContactContainer {
	position: absolute;
	left: 2vw;
	align-self: center;
	width: calc(100vw - 4vw);
	margin:0;
	background-color: white;
	z-index: 100;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 0;
	transition: 0.9s ease-in-out;
}
.ContactContainerActive {
	height: calc(100vh - 4vw);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15);
}

.contactInner {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top:0;
	left:0;
	opacity: 0;
	transition: 0.4s ease-in-out;
}

.ContactContainerActive .contactInner {
	opacity: 1;
	transition: 0.8s ease-in-out;
	transition-delay: 0.6s;
}

.ContactContainer .diagonalBackground {
	background-color: #f7f7f7;
	width:200vw;
	height: 100vh;
	position: absolute;
	top:60%;
	transform: rotateZ(-15deg);
	left: -50%;
	z-index: 1;
}

.ContactContainer h3{
	font-family: 'edition', sans-serif;
	font-weight: 500;
	color:black;
	font-size: 1.1vw;
	line-height: 0;
	z-index: 2;
	margin-bottom: -1vw;
}

.ContactContainer h1{
	font-family: 'edition', sans-serif;
	font-weight: 600;
	color:black;
	font-size: 5vw;
	line-height: 5vw;
	letter-spacing: -0.25vw;
	z-index: 2;
	transition: 0.2s ease-in-out;
	position: relative;
}
.ContactContainer h1 a{ 
	text-decoration: none;
	color:inherit;
}


.ContactContainer h1 ::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 0.2vw;
	bottom: 0;
	left: 0;
	background-color: black;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
  }

  .ContactContainer h1 :hover::before {
	visibility: visible;
	transform: scaleX(1);
	background-color: mix(#3f3f3f, #e20025, 26%);
  }

.ContactContainer h1:hover{
	color:mix(#3f3f3f, #e20025, 26%);
}

.noFont {
	font-family: 'Montserrat', sans-serif;
}

.ContactContainer .contactMenu {
	position: absolute;
	top:3vw;
	right: 3vw;
}

.ContactContainer .contactMenu *{
	cursor: pointer;
}

.ContactContainer .contactSocials {
	position: absolute;
	bottom:5vw;
	display: flex;
	flex-direction: row;
	z-index: 3;
	flex-wrap: wrap;
	justify-content: center;
}

.ContactContainer .contactSocials h2{
	cursor: pointer;
	color:black;
	font-size: 2vw;
	margin:0 0.5vw;
	transition: 0.2s ease-in-out;
}

.ContactContainer .contactSocials h2 a{
	color:inherit;
}


.ContactContainer .contactSocials h2:hover{
	color:mix(#3f3f3f, #e20025, 26%);
}
.ContactContainer .contactSocials h2:hover ~ #currentSocial{
	opacity: 1;
}

#currentSocial {
	transition: 0.2s ease-in-out;
	opacity: 0;
}
.ContactContainer .contactSocials .break {
	width: 100%;
	height: 0;
}

@media only screen and (max-width: 1366px) {
	.socials {
		bottom: 3vw;
		left: 1.5vw;
	}
	.socials ul li {
		margin-bottom: 1vw;
	}
	.social {
		height: 70px;
		width: 70px;
	}
	.breh {
		margin-top: -10vw;
	}
	
	.container h1 {
		font-size: calc(1em + 13vw) ;  
	}
	
	.container h2 {
		margin-top: 2vw;
		font-size: calc(1em + 5vw) ;  
	}
	.links a {
		font-size: 3vw;
	}
	.ContactContainer .contactSocials h2{
		font-size: 3vw;
		margin:0 1vw;
	}
  }
  @media only screen and (max-width: 1365px) {
	.mobileMenu {
		display: block;
	}
	.menu{
		display: flex;
	}
	.links {
		display: none;
	}
	.ContactContainer .contactSocials {
		bottom:5vh;
	}
	.ContactContainer .contactMenu {
		top:7vw;
		right: 7vw;
	}
	
	
	.ContactContainer {
		left: 5vw;
		width: calc(100vw - 10vw);
	}
	.ContactContainerActive {
		height: calc(100vh - 20vh);
	}
.ContactContainer h3{
	font-size: 2vw;
	line-height: 0;
	margin-bottom: -1vw;
}

.ContactContainer h1{
	font-size: 7vw;
	line-height: 7vw;
	letter-spacing: -0.25vw;
}
.ContactContainer .contactSocials h2{
	font-size: 6vw;
	margin:0 2vw;
}

  }
  
  @media only screen and (max-width: 1200px) {
	.social {
		height: 6vh;
		width: 6vh;
	}
	
  }

  @media only screen and (max-width: 991px) {
	.socials {
		left: 1vw;
	}
	.socials ul li {
		margin-bottom: 1vw;
	}
	.social {
		height: 60px;
		width: 60px;
	}
	.mobileMenu {
		top:6vw;
		right:6vw;
	}
	.ball1 {
		width:20vw;height:20vw;border-radius:20vw;		
	}
	.ball2 {
		width:16vw;height:16vw;border-radius:20vw;
	}
	
	.ball3 {
		width:35vw;height:35vw;border-radius:40vw;	
	}
	
	.ball4 {
		width:19vw;height:19vw;border-radius:20vw;	
	}
	
	.ball5 {
		width:8vw;height:8vw;border-radius:20vw;	
	}
	.ball6 {
		width:8vw;height:8vw;border-radius:20vw;		
	}
	.menuActive {
		width: 100vw;
	}
	.menu ul {
		margin-top: 8vh;
		margin-left: 5vw;
	}
	.menu ul li a{
		padding-top: 3vw;
	}
  }

  @media only screen and (max-width: 767px) {
	.container h1 {
		font-size: calc(1em + 11vw) ;  
	}
	
	.container h2 {
		margin-top: 7vh;
		font-size: calc(1em + 5vw) ;  
	}
	.ContactContainer h3{
		font-size: 0.9rem;
		margin-bottom: 0vw;
	}
	.socials {
		left: -2vw;
		bottom:6vw;
	}
	.socials ul li {
		margin-bottom: 3vw;
	}
	.social {
		height: 40px;
		width: 40px;
	}
	.mobileMenu {
		top:8vw;
		right:8vw;
	}
	.ball1 {
		width:30vw;height:30vw;border-radius:30vw;		
	}
	.ball2 {
		width:20vw;height:20vw;border-radius:30vw;
	}
	
	.ball3 {
		width:50vw;height:50vw;border-radius:60vw;
	}
	
	.ball4 {
		width:28vw;height:28vw;border-radius:30vw;	
	}
	
	.ball5 {
		width:12vw;height:12vw;border-radius:30vw;	
	}
	.ball6 {
		width:12vw;height:12vw;border-radius:30vw;		
	}
	.appContainer {
		width:100vw;
		height:100vh;
		overflow-x:hidden; 
		overflow-y: visible;
		position:relative;
	}
  }