html{
    background: #e20025;
	overflow: hidden;
	padding:0;
	margin:0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');


.ball1 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:15.6vw;height:15.6vw;border-radius:15.6vw;
        
}
.ball2 {
    width:10.4vw;height:10.4vw;border-radius:15.6vw;background-position:center;
        background-size: cover;background-image: url('ball.png');
        

}

.ball3 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:26vw;height:26vw;border-radius:26vw;
        
}

.ball4 {
    background-position:center;
    background-size: cover;background-image: url('ball.png');width:14vw;height:14vw;border-radius:15.6vw;
    
}

.ball5 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:5.2vw;height:5.2vw;border-radius:15.6vw;
        
}
.ball6 {
    background-position:center;
        background-size: cover;background-image: url('ball.png');width:5.2vw;height:5.2vw;border-radius:15.6vw;
        
}

.container{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
	z-index: 3;
    
}

.container2{
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
    z-index: 2;
}

.container3{
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
    justify-content: center;
    z-index: 4;
}

.breh {
	text-align: left !important;
}

.container h1 {
	color: mix(#fff, #fff, 85%);
	line-height: 0;
	font-size: calc(1em + 15vw) ;  
    font-weight: 800;
    justify-self: center;
    align-self: center;
	font-family: 'Poppins', sans-serif;
	text-shadow: 
	0.035em 0.035em 0 mix(#3f3f3f, #e20025, 32%),
	0.03em 0.03em 0 mix(#3f3f3f, #e20025, 30%),
	0.025em 0.025em 0 mix(#3f3f3f, #e20025, 28%),
	0.02em 0.02em 0 mix(#3f3f3f, #e20025, 26%), 
	0.015em 0.015em mix(#3f3f3f, #e20025, 24%), 
	0.01em 0.01em 0 mix(#3f3f3f, #e20025, 22%), 
	0.005em 0.005em 0 mix(#3f3f3f, #e20025, 20%),
	-0.0075em 0.0075em 0 mix(#3f3f3f, #e20025, 54%);


}

.container h2 {
	color: mix(#fff, #fff, 85%);
	line-height: 0vw;
	margin-top: -1vw;
	margin-left: 0.5vw;
	font-size: calc(1em + 5vw) ;  
    font-weight: 800;
    justify-self: center;
    align-self: center;
	font-family: 'Poppins', sans-serif;
	text-shadow: 
	0.09em 0.09em 0 mix(#3f3f3f, #e20025, 32%),
	0.08em 0.08em 0 mix(#3f3f3f, #e20025, 30%),
	0.07em 0.07em 0 mix(#3f3f3f, #e20025, 28%),
	0.06em 0.06em 0 mix(#3f3f3f, #e20025, 26%), 
	0.05em 0.05em mix(#3f3f3f, #e20025, 24%), 
	0.04em 0.04em 0 mix(#3f3f3f, #e20025, 22%), 
	0.03em 0.03em 0 mix(#3f3f3f, #e20025, 20%),
	-0.0175em 0.0175em 0 mix(#3f3f3f, #e20025, 54%);


}

.socials {
	position: absolute;
	bottom: 3.5vw;
	left: 1vw;
	z-index: 20;
}

.socials ul {
	list-style: none;
	list-style-type: none;
}


.social {
	height: 3vw;
	width: 3vw;
}

.socials ul li {
	cursor: pointer;
	margin-bottom: 1.3vw;
}

.links {
	position: absolute;
	right:1vw;
	height: 100vh;
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	z-index: 20;
}

.links a {
	transform: rotate(-90deg);
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color:white;
	text-decoration: none;
	font-size: 2vw;
	display: block;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.425);
}

.mobileMenu {
	position:absolute;
	top:8vw;
	right:8vw;
	z-index:30;
	display: none;
}

.menu {
	position: absolute;
	z-index: 25;
	width: 0vw;
	height: 100vh;
	background-color: #313131;
	top:0;
	right: 0;
	display: flex;
	transition:0.6s ease-in-out;
}

.menuActive {
	width: 50vw;
}

.menu ul {
	list-style: none;
	list-style-type: none;
	margin-top: 15vw;
	margin-left: 5vw;
}
.menu ul li {
	cursor: pointer;
	margin-bottom: 1.3vw;
}

.menu ul li a{
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	color:white;
	text-decoration: none;
	font-size: 5vw;
	padding-top: 5vw;
	display: block;
	text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.425);
	text-align:left;
}


@media only screen and (max-width: 1366px) {
	.socials {
		bottom: 3vw;
		left: 1.5vw;
	}
	.socials ul li {
		margin-bottom: 1vw;
	}
	.social {
		height: 70px;
		width: 70px;
	}
	.breh {
		margin-top: -10vw;
	}
	
	.container h1 {
		font-size: calc(1em + 14vw) ;  
	}
	
	.container h2 {
		margin-top: -1vw;
		font-size: calc(1em + 5vw) ;  
	
	}
	.links a {
		font-size: 3vw;
	}
  }
  @media only screen and (max-width: 1365px) {
	.mobileMenu {
		display: block;
	}
	.links {
		display: none;
	}

  }
  
  @media only screen and (max-width: 1200px) {
	.social {
		height: 6vh;
		width: 6vh;
	}
	
  }

  @media only screen and (max-width: 991px) {
	.socials {
		left: 1vw;
	}
	.socials ul li {
		margin-bottom: 1vw;
	}
	.social {
		height: 60px;
		width: 60px;
	}
	.mobileMenu {
		top:6vw;
		right:6vw;
	}
	.ball1 {
		width:20vw;height:20vw;border-radius:20vw;		
	}
	.ball2 {
		width:16vw;height:16vw;border-radius:20vw;
	}
	
	.ball3 {
		width:35vw;height:35vw;border-radius:40;	
	}
	
	.ball4 {
		width:19vw;height:19vw;border-radius:20vw;	
	}
	
	.ball5 {
		width:8vw;height:8vw;border-radius:20vw;	
	}
	.ball6 {
		width:8vw;height:8vw;border-radius:20vw;		
	}
	.menuActive {
		width: 100vw;
	}
	.menu ul {
		margin-top: 8vh;
		margin-left: 5vw;
	}
	.menu ul li a{
		padding-top: 3vw;
	}
  }

  @media only screen and (max-width: 767px) {
	.socials {
		left: -2vw;
	}
	.socials ul li {
		margin-bottom: 3vw;
	}
	.social {
		height: 40px;
		width: 40px;
	}
	.mobileMenu {
		top:8vw;
		right:8vw;
	}
	.ball1 {
		width:30vw;height:30vw;border-radius:30vw;		
	}
	.ball2 {
		width:20vw;height:20vw;border-radius:30vw;
	}
	
	.ball3 {
		width:50vw;height:50vw;border-radius:60vw;	
	}
	
	.ball4 {
		width:28vw;height:28vw;border-radius:30vw;	
	}
	
	.ball5 {
		width:12vw;height:12vw;border-radius:30vw;	
	}
	.ball6 {
		width:12vw;height:12vw;border-radius:30vw;		
	}
  }