@font-face {
	font-family: 'edition';
	src: url('Edition-BxnV.ttf'); /* IE9 Compat Modes */
} 

.works h1 {
	font-size: calc(3.2vw);
    font-weight: 800;
    justify-self: center;
	align-self: center;
	line-height: 0.9;
	font-family: 'edition', sans-serif;
	letter-spacing: -0.02em;
	transition: 0.3s ease-in-out;
	color: mix(#fff, #fff, 85%);
}

.works {
	margin-left: 12%;  
}

.works:hover h1{
	color: mix(#fff, #e20025, 50%);
	text-shadow:none;
}

.works h1:hover{
	color: mix(#fff, #fff, 85%);
}

.description {
	margin-left: 12%;
	// margin-top: 5%;
	width: 45%;
}
.description .Tilt {
	transform-style: preserve-3d !important;
}

.description #black-board {
	background-color: #292929;
	border-radius: 0.5vw;
	box-shadow: 1px 1px 0px 2px #141414, 
	2px 2px 0px 2px #141414, 
	3px 3px 0px 2px #141414, 
	4px 4px 0px 2px #141414, 
	5px 5px 0px 2px #141414,
	6px 6px 0px 2px #141414,
	7px 7px 0px 2px #141414,
	8px 8px 0px 2px #141414,
	9px 9px 0px 2px #141414,
	10px 10px 0px 2px #141414,
	11px 11px 0px 2px #141414,
	12px 12px 0px 2px #141414,
	13px 13px 0px 2px #141414,
	14px 14px 0px 2px #141414,
	15px 15px 0px 2px #141414,
	16px 16px 0px 2px #141414,
	17px 17px 0px 2px #141414,
	18px 18px 0px 2px #141414;
	padding:0vw 3vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 28vw;
	transition: 2s cubic-bezier(.78,-0.31,.3,1.29);
	// transition: 2s cubic-bezier(0.77, 0, 0.175, 1);
	transform-style: preserve-3d !important;
	transform:rotateY(0);
}

.description #black-board #textContainer {
	transform: translateZ(4vw) !important;
}

.description hr {
	background:white;
	color:white;
	width:40%;
	height:0.3vw; 
	border:none;
	float: left;
}

.description h2 {
	font-size: 2vw;
	padding-top: 1vw;
	color: white; 
	font-family: 'edition', sans-serif;
}

.description p {
	font-size: 1vw;
	color: white; 
}

.description a {
	text-decoration: none;
	font-size: 0.9vw;
	color: white; 
	font-family: 'poppins', sans-serif;
	border:0.12vw solid white;
	padding: 0.4vw 0.7vw;
	display: flex;
	width:fit-content;
	align-items: center;
	margin:1.3vw 0 1vw 0;
}

.description .stats {
	display: flex;
	flex-direction: row;
}

.description .stats div{
	margin-right: 10%;
}

.description .stats h4{
	font-size: 1vw;
	color: white; 
	font-family: 'edition', sans-serif;
	line-height: 0;
}

.description .stats h6{
	font-size: 0.9vw;
	color: white; 
	font-family: 'poppins', sans-serif;
	font-weight: 300;
	margin-top: 0;
	line-height: 1.5;
}